    <div class="card shadow-sm">
      <img class="bd-placeholder-img card-img-top" width="100%"   src='{{ "assets/images/" + livro.img + ".jpg" }}'>

      <div class="card-body">
        <p class="card-text">{{ livro.name }}</p>
        <p class="card-text">{{ livro.category }}</p>
        <p class="card-text">{{ livro.quantity }}</p>
        <p class="card-text">{{livro.price | currency:'BRL'}}</p>



        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary">Comprar</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Detalhes</button>
          </div>
        </div>
      </div>
    </div>
